* {
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 22px;
    padding-bottom: 100px;
}

.header-left-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header-left-subtext, .header-links a{
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882F6;
    border-radius: 12px;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    border: none;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

.header-right {
    color: #F9FAF8;
    width: 500px;
    background-color: rgba(174, 176, 182, 0.432);
    text-align: center;
    padding-top: 105px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-links {
    display:flex;
    gap: 1em;
}

.bottom-header {
    display: flex;
    justify-content: space-evenly;
}

.header-left {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 1em;
}