@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.first {
    gap: 75px;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 20px 225px;
    padding-bottom: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.first .navbar li, .intro .subtext {
    font-size: 18px;
    color: #c5c6c8;
}

.intro {
    flex-wrap: wrap;
    gap: 50px;
    display: flex;
}

.intro .left {
    flex: 1 1 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.intro .title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.intro .subtext {
    max-width: 450px;
}

.intro .sign-up {
    margin-top: 8px;
    background-color: #3882F6;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    padding: 8px 25px;
    color: white;
    font-weight: bold;
}

.intro .right {
    min-width: 280px;
    min-height: 250px;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    background-color: rgba(182, 182, 182, 0.46)
}

.second {
    padding: 40px 350px 80px 350px;
    gap: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.second .sub-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.second .cards {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.second .card {
    gap: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second .box {
    height: 150px;
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.second .text {
    text-align: center;
    font-size: 18px;
    color: #656565;
}

.third {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 400px;
}

.third .quote {
    font-size: 30px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
}

.third .citation {
    color: black;
    font-size: 22px;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 25px;
}

.fourth {
    flex-wrap: wrap;
    padding: 50px 100px;
    background-color: #3882F6;
    border-radius: 12px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 50px;
    margin: 100px 300px;
}

.fourth .left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fourth .left .mini-header {
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.fourth .left .nudge {
    font-size: 16px;
    border-color: white;
    border-radius: 10px;
    color: white;
}

.fourth .right {
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 10px;
    padding: 8px 18px;

}

.footer {
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-size: 17px;
    font-weight: bold;
    color: white;
}