body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.first {
    gap: 75px;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 20px 225px;
    padding-bottom: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.first .navbar li, .intro .subtext {
    font-size: 18px;
    color: #c5c6c8;
}

.intro {
    gap: 50px;
    display: flex;
}

.intro .left {
    flex: 1 1 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.intro .title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.intro .subtext {
    max-width: 450px;
}

.intro .sign-up {
    margin-top: 8px;
    background-color: #3882F6;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    padding: 8px 25px;
    color: white;
    font-weight: bold;
}

.right {
    min-width: 250px;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: rgba(182, 182, 182, 0.46)
}